body {
  background-color: rgba(222, 222, 222, 0.396);
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.centerRow {
  justify-content: center;
}

.centerCol {
  align-items: center;
}

.flexGap{
  gap: 20px;
}



.border1B{
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.borderRadius{
  border-radius: 10px;
}

.padding10{
  padding: 10px;
}

.button-6 {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.backgroundWhite {
  background-color: #cef1d7;
}

.backgroundGreen {
  background-color: #21e171;
}

textarea {
  display: block;
  box-sizing: border-box;
  resize: none;
  overflow-y: hidden;

  /* optional CSS */
  border: 0;
  outline: 0;
  background: white;
  padding: 20px;
  font-weight: 500;
  font-size: 1em;
  color: #343434;
  width: 330px;
}

#messages {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 5%;
  width: 300px;
  overflow: scroll;
}

.dialArea {
  outline: 0;
  background: transparent;
  padding: 20px;
  font-weight: 100;
  font-size: 1em;
  color: #343434;
}

.borderRadius1001{
  border-radius: 20px 0px 0px 20px;
}

.dialArea:focus {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);

}


.maxHeight1{
  max-height: 95vh;
}

.maxHeight2{
  max-height: 80vh;
}

.overflowScroll{
  overflow: scroll;
}

.width30vw{
  width: 30vw;
}

.maxWidth200 {
  width: 200px;
}

.maxWidth{
  width: 90%;
}

.width50vw{
  width: 50vw;
}


.width30vw{
  width: 30vw;
}

.width20vw{
  width: 20vw;
}